name: react-native-android-build-apk
on:
  push:
    branches:
      - main
jobs:
  install-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install npm dependencies
        run: |
          npm install
  build-android:
    needs: install-and-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install npm dependencies
        run: |
          npm install
      - name: Generate Android native directory
        run: |
          npx expo prebuild --platform android
      - name: Build Android Release
        run: |
          cd android && ./gradlew assembleRelease
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: app-release.apk
          path: android/app/build/outputs/apk/release/
